python-telegram-bot==9.0.0
SQLAlchemy==1.1.13
jsonschema==2.6.0
scikit-learn==0.19.1
numpy==1.14.1
scipy==1.0.0
Django==1.11.7
django-filter==1.1.0
django-extensions==1.9.7
django-debug-toolbar==1.9.1
graphene==2.0.1
graphene-django==2.0.0
ipython==6.1.0
Werkzeug==0.14.1
Pillow==4.2.1
django-mptt==0.8.7
spacy==2.0.5
stop-words==2015.2.23.1
pymorphy2==0.8
nltk==3.2.4