
{% extends 'nodes_app/base.html' %}


{% load static %}


{% block page_content %}
  <div class="row">
    <div class="col-md-4">
      <h2>{{ object.name }}</h2>
      <div class="well">
        {{ object.description }}<br>
        Classifier: <a href="{% url 'classifier_detail' object.classifier.pk %}">{{ object.classifier.name }}</a><br>
        Data set: {{ object.data_set }}<br>
        Answer message: <a href="{% url 'answer_message_detail' object.answer_message.pk %}">{{ object.answer_message }}</a><br>
      </div>
      </div>
    </div>
  </div>
{% endblock %}