{% extends 'nodes_app/base.html' %}


{% load static %}
{% load mptt_tags %}


{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="treeview">
        {% recursetree nodes %}
          <li>
            <a href="{% url 'node_detail' node.pk %}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
              <ul>
                  {{ children }}
              </ul>
            {% endif %}
          </li>
        {% endrecursetree %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/boot_tree.js' %}"></script>
{% endblock %}